    GLOBAL_SETTINGS
    LAB_MASTER_SEED memcached_student_master_seed
    REGISTRY minh180621
NETWORK MYNETWORK
     MASK 192.168.20.0/24
     GATEWAY 192.168.20.1
CONTAINER client
     USER ubuntu
     X11 YES
     MYNETWORK 192.168.20.10
CONTAINER server
     USER ubuntu
     X11 YES
     MYNETWORK 192.168.20.20
